files:
  "/tmp/update_server_xml.sh":
    owner: root
    group: root
    mode: "000755"
    content: |
      #! /bin/bash
      RESULT=`grep -c '<Connector port="8080"' /etc/tomcat8/server.xml`
      if [ $RESULT = 0 ]
        then
          sed -i 's/Connector port="8080"/Connector port="8080" relaxedPathChars="[]|" relaxedQueryChars="[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"/' /etc/tomcat8/server.xml
          logger -t tomcat_conf "/etc/tomcat8/server.xml updated successfully"
          exit 0
        else
          logger -t tomcat_conf "/etc/tomcat8/server.xml already updated"
          exit 0
      fi

container_commands:
  00_update_server_xml:
    command: sh /tmp/update_server_xml.sh